html, body{
    min-height: 100%;
    position: relative;
}
body{
    background-image: url(fundo1.png);
    background-size: cover;
    background-size: top center;
    background-repeat:  no-repeat;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
}
label{
    display: block;
    color: #fff;
}
.content-form{
    min-height: 100%;
}
.jumbotron-login{
    margin-top: 220px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 49%;
    transform: translateX(-50%);
}
.jumbotron-login h1{
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 50px;
}
.jumbotron{
    margin-top: 180px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.jumbotron h1{
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.jumbotron-table{
    table-layout: fixed;
    margin-top: 300px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%;
    padding-left: 10px;
    transform: translateX(-50%);
}
.form-group{
    margin-bottom: 15px;
}

.formulario{
    width: 100%;
    display: block;
}
.form-group input, .form-group select{
    width: calc(100% - 30px);
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    border: transparent;
    padding: 10px 15px;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    outline: none;
}
.form-group select{
    width: 100%;
}
.radio{
    color: #fff;
}
.form-group input[type="radio"]{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.col-70{
    width: 69%;
    float: right;
    position: relative;
}
.col-50{
    width: 49%;
    float: right;
    position: relative;
}
.col-50-2{
  width: 49%;
  float: right;
  position: relative;
  margin-right: 2%;
}

.col-30{
    width: 29%;
    float: left;
    position: relative;
}
.col-40{
    width: 29%;
    right: 5px;
    position: relative;
}

.btn{
    text-align: center;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    background: -moz-linear-gradient(
        top,
        #42aaff 0%,
        #003366);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#42aaff),
        to(#003366));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 50px;
    border: 1px solid #003366;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
    outline: none;
}
.btn:hover{
   background: -moz-linear-gradient(
    top,
    #003366 0%,
    #42aaff);
   background: -webkit-gradient(
    linear, left top, left bottom,
    from(#003366),
    to(#42aaff));
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 50px;
   border: 1px solid #003366;
   -moz-box-shadow:
   0px 1px 3px rgba(000,000,000,0.5),
   inset 0px 0px 1px rgba(255,255,255,0.5);
   -webkit-box-shadow:
   0px 1px 3px rgba(000,000,000,0.5),
   inset 0px 0px 1px rgba(255,255,255,0.5);
   box-shadow:
   0px 1px 3px rgba(000,000,000,0.5),
   inset 0px 0px 1px rgba(255,255,255,0.5);
   text-shadow:
   0px -1px 0px rgba(000,000,000,0.7),
   0px 1px 0px rgba(255,255,255,0.3);
   outline: none;
}
a.btn{
    text-decoration: none;
}

.form-group input::placeholder{
    color: #dedede;
}
.link{
    margin-top: 15px;

}
.link a{
    color: #fff;
    text-decoration: none;
}
.link a:last-child{
    margin-left: 30px;

}
.jumbotron-fluid{
    right: 65%;
    margin-right: 115%;
    width: 400px;
    float: right;
    position: relative;
}
.container{
    margin-top: 280px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 400px;
    top: 50%;
    right: 65%;
    transform: translateX(-50%);
}
a{ 
    color: #fff;  
    text-decoration: none;
    text-shadow: 2px 2px #000;
}
.nav-1{
    float: left;
}
.nav-2{
    float: right;
}
.logo{
    background-image: url(LOGO.png);
    background-size: top center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: -400px;
    width: 300px;
    height: 300px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}
table{
    table-layout: fixed;
    width: 99%;
    position: relative;
    border-spacing: 0;
    border-collapse: collapse;
    bottom: 10px;
}
th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 0px solid #E6E6E6;
    border-radius: 20px;
    box-shadow: inset 0 0 0.1em black;
}
tr:nth-child(even) {
    background-color: #E6E6E6;
}
.table-old{
    width: 20px;
    opacity: 0.5;
    box-shadow: 2px 3px 3px black;
}
.col{
    font-weight: bolder;
    font-family: sans-serif;
    opacity: 0.5;
    box-shadow: 2px 3px 3px black;
}
.bg-light{
  background-color: #FAFAFA;
  border: relative 1px;
  border-radius: 20px;
  width: 300px;
  background-color: rgba(0,0,0,0.2);
}
.pull-right{ 
    padding: 30px;
    margin-top: 250px;
    position: relative;
    width: 350px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}
.btn-secondary{
    border: 0;
    width: 200px;
    margin-right: 5px;
    position: relative;
    right: 230px;
    float: right;
    cursor: pointer;
    display: inline-block;
}
