 @charset "UTF-8";
html, body{
    min-height: 100%;
    position: relative;
    width: 100%;
}
body{
    background-image: url(../img/fundo1.png);
    background-size: cover;
    background-size: top center;
    background-repeat:  no-repeat;
    height: 100%;
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 17px;
}
.atv{
    background-image: url(../img/01.jpg);
    background-size: cover;
    background-size: top center;
    background-repeat:  no-repeat;
    height: 100%;
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
}
label{
    display: block;
    color: #fff;
}
.content-form{
    min-height: 100%;
}
.jumbotron-login{
    margin-top: 130px;
    border-radius: 20px!important;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 49%;
    transform: translateX(-50%);
}
.jumbotron-login h1, .cadastro h1{
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 50px;
}
.jumbotron{
    margin-top: 100px;
    border-radius: 20px!important;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.jumbotron h1, .jumbotron-table h1{
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 2em;

}
.jumbotron-table{
    table-layout: fixed;
    margin-top: 70px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    top: 50%;
    left: 50%;
    padding: 30px ;
    transform: translateX(-50%);
}
.ls-custom-select{
    font-family: sans-serif, Arial, Raleway ,Helvetica;
    position: relative;
    display: inline;
    top: 30px;
    outline: none;
}
.ls-select{
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgba(0,0,0,0.2); 
    outline: none;
}
.search{
    margin-bottom: 50px;
}
nav.menu{
    margin-top: 150px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px ;
    width: 100%;
    padding-bottom: 40px;
}
    .formulario{
        width: 100%;
        display: block;
    }
    .form-control{
        width: 100%;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.5);
        border: transparent;
        padding: 0px 15px;
        color: #fff;
        font-weight: 400;
        outline: none;
    }
    .form-control::placeholder{
        color: #fff;
    }

    .radio{
        color: #fff;
    }
    .radio input{
        margin-top: 2px;
        width: 16px;
        height: 16px;
    }
    .btn{
        text-align: center;
        margin-top: 20px;
        display: block;
        cursor: pointer;
        font-family: Raleway, Arial, Helvetica, sans-serif;
        color: #ffffff;
        width: 100%;
        padding: 10px 0;
        background: -moz-linear-gradient(
            top,
            #42aaff 0%,
            #003366);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#42aaff),
            to(#003366));
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 50px;
        -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
        outline: none;
        border: none;
    }
    .btn:hover{
        color: #fff;
        background: -moz-linear-gradient(
            top,
            #003366 0%,
            #42aaff);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#003366),
            to(#42aaff));
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 50px;
        -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
        outline: none;
    }
    .btn:focus{
        outline: none;
    }
    a.btn{
        text-decoration: none;
    }

    .form-group input::placeholder{
        color: #dedede;
    }
    .link{
        margin-top: 15px;

    }
    .link a{
        color: #fff;
        text-decoration: none;
    }
    .link a:last-child{
        margin-left: 30px;

    }
    a{ 
        color: #fff;  
        text-decoration: none;
        text-shadow: 2px 2px #000;
        transition: all 0.3s ease-in-out;
    }
    a:hover, a:focus{ 
        text-decoration: none;
        color: #fff;  
        text-shadow: 2px 2px #000;
    }
    .nav-1{
        float: left;
    }
    .nav-2{
        float: right;
    }
    .nav-2 a{
        text-decoration: none;
    }
    .nav-2 a:hover, .nav-2 a:focus{
        color: inherit;
        color: #fff;
        text-decoration: none;
    }
    .nav-2 a:first-child{
        padding-right: 12px;
        border-right: 2px solid #fff;
        margin-right: 10px;
    }
    .nav-2 a:last-child:hover, .nav-2 a:last-child:hover{
        color: orange;
    }
    .logo{
        background-image: url(../img/LOGO.jpg);
        background-size: top center;
        background-repeat: no-repeat;
        background-size: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        margin-bottom: 0px;
        width: 300px;
        height: 190px;
    }
input[type=checkbox] {
        cursor: pointer;
        transform: scale(1.5);
    }
    input[type=date].form-control{
        padding: 5px 15px;
    }
    .table-old{
        text-align: center;
    }
    .table-old-2 th em{
        width: 10%;
    }
    .table-id{
        width: 10%;
    }
    .table-nome{
        width: 35%;
    }
    .table-perfil{
        width: 30%;
    }
    .table-data{
        width: 20%;
    }   
    .table thead{
        background-color: rgba(0,0,0,0.2);
    }
    .table tr td:first-child{
        text-align: center;
    }
    .bg-light{
      background-color: #FAFAFA;
      border: 1px solid;
      border-radius: 20px;
      width: 300px;
      background-color: rgba(0,0,0,0.2);
  }
  .table-hover>tbody>tr:hover{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.table-rolagem{
    overflow: auto;
    border-radius: 5px;
}
.btn-search{
    display: inline;
    border-radius: 15px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 6px 15px;
    transition: all 0.3s ease-in-out;
}
.btn-search:hover{
    background-color: #bbb;
}
.btn-search:focus{
    background-color: #c9c9c9;
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: inset 1px 2px 3px 2px rgba(0,0,0,0.3);
}
.btn-search i{
    margin-top: 0;
}

.btn-secondary{
    border: 0;
    width: 200px;
    margin: 8px auto;
    position: relative;
    float: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus{
    outline:none;
    color: #fff;
    background-color: inherit;
    background: -moz-linear-gradient(
        top,
        #003366 0%,
        #42aaff);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#003366),
        to(#42aaff));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 50px;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px -1px 0px rgba(255,255,255,0.3);
}
.cadastro{
    margin-top: 180px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    width: 500px;
    top: 50%;
    right: 50%;
    transform: translateX(-50%);
}
textarea.form-control{
    resize: none; 
    overflow: auto;
    padding: 20px;
}
.content-buttons{
    float: right;
    overflow: auto;
    margin-bottom: 80px;
}

@media screen and (max-width: 425px){
    .content-buttons{
        float: none;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .content-buttons button{
        width: 100%;
        display: block;
        margin: 8px 0;
    }

    .ls-custom-select{
        font-family: sans-serif, Arial, Raleway ,Helvetica;
        position: relative;
        display: none;
        outline: none;
    }
    .ls-select{
        display: none;
        background-color: rgba(0,0,0,0.2); 
    }
}
@media screen and (max-width: 767px){
    .jumbotron{
        width: calc(100% - 30px);
        position: relative;
    }
    .ls-custom-select{
        font-family: sans-serif, Arial, Raleway ,Helvetica;
        position: relative;
        display: none;
        outline: none;
}
    .ls-select{
        display: none;
        background-color: rgba(0,0,0,0.2); 
}

}
@media (min-width: 426px) and (max-width: 991px){
    .ls-custom-select{
        font-family: sans-serif, Arial, Raleway ,Helvetica;
        position: relative;
        display: none;
        outline: none;
}
    .ls-select{
        display: none;
        background-color: rgba(0,0,0,0.2); 
}
    .content-buttons{
        float: none;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .content-buttons button{
       float: left;
       width: 49%;
       display: block;
       margin: 8px 1px;
   }    
   
}

.nav-home{
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
}

.btn-default{
    font: bold 20px "Arial Black", Gadget, sans-serif;
    font-style: normal;
    color: #000;
    background: transparent;
    border: 2px solid #fff;
    text-shadow: 0px 0px 5px #0d0d0d;
    box-shadow: -2px 0px 8px #2e2300;
    -moz-box-shadow: -2px 0px 12px #2e2300;
    -webkit-box-shadow: -2px 0px 12px #2e2300;
    border-radius: 0;
    margin: 10px;
    cursor: pointer;
    width: 60px;
    height: 50px;
    text-transform: uppercase;
    text-shadow: none;
    transition: all ease-in-out 0.3s;
}
.btn-default:hover{
    text-shadow: none;
    background: #fff!important;
    border: 2px solid transparent;
}
.btn-default:focus{
    background: #fff!important;
    border: 2px solid transparent;
}
#p{
    font-weight: bold;
    font-size: 35px;
    text-shadow: #00BFFF -1px -1px ;
}

.btn-info{
    border: 0;
    width: 100px;
    margin: 20px;
    position: relative;
    float: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-size: 20px;
    }

.previous, .next{
     padding: 5px 15px;
     position: relative;
     width: 120px;
     margin: 5px;
     display: inline-block;
     border: 0;
     border-radius: 20px;
     cursor: pointer;
     color: #000 !important;
     font-family: 20px "Raleway";
     font-size: 15px;
     line-height: 20px;
     text-align: center;
     text-shadow: none;
     background: -webkit-linear-gradient(bottom, #00BFFF, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #00BFFF, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #00BFFF, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #00BFFF, #F9F9F9 70%);
     background: linear-gradient(bottom, #00BFFF, #F9F9F9 70%);
     box-shadow: 0 0    px 0px rgba(0, 0, 0, 0.3),
                   0 0px 0px rgba(0, 0, 0, 0.3);
  }

.checkthis{
    color: #000;
    padding: 5px;
    width: 35px;
    border: 0;
    padding-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
        background: -moz-linear-gradient(
            top,
            #003366 0%,
            #42aaff);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#00BFFF),
            to(#F8E0E0));
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
        text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
        outline: none;
}

/*Css do index */
    .left,
    .right {
        margin-top: -20%;
        float: left -5px;
        transform: translateY(125%);
        border-left: 5px solid #383838;
    }
    .left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
    }
    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }
    .left:hover {
        width: 170px;
    }
    .item:hover {
        background-color: #222;
    }
    .left .glyphicon {
        margin: 15px;
        width: 20px;
        color: #fff;
    }
    i.glyphicon {
        font-size: 17px;
        vertical-align: middle !important;
        cursor: pointer;
    }
    a:link, a:visited {
        color: #fff;
        text-decoration: none;
    }
    a:hover a:last-child{
        text-decoration: none;
    }
    .item {
        height: 70px;
        overflow: hidden;
        color: #fff;
    }
   .jumbotron-300 {
        margin-top: 50px;
        border-radius: 20px!important;
        background-color: rgba(0,0,0,0.2);
        padding: 30px;
        position: absolute;
        width: 800px;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }
    h1{
        color: #000;
        padding-bottom: 15px;
        text-align: center;
        font-family: Raleway, Arial, sans-serif;
        text-shadow: black -1px -1px;
    }
    p{
        color: #000 !important;
        font-size: 18px;
        font-family: Raleway, Arial, sans-serif, Helvetica;
    }
    .recuo { 
        text-indent: 2em;
    }
    .xxx{
        margin: 0;
        height: 80%;
        bottom: 50px;
        font-size: 18px;    
        font-family: Raleway, Arial, sans-serif;

        position: fixed;
        background-image: url(../img/123.jpg);
        background-size: 100%;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat;
    }
    
    .footer-copyright{
        padding: 20px;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
    }


/* Home_user*/
.jumbotron-x1{
    margin-top: 150px;
    border-radius: 20px!important;
    background-color: rgba(0,0,0,0.2);
    padding: 40px;
    position: absolute;
    width: 500px;
    top: 10%;
    left: 50%;
    text-decoration: none;
    transform: translateX(-50%);
}
.jumbotron-x1 h1{
    margin-top: -5px;
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.blue-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #9bc1ff;
    font-size: 18px;
    font-family: Raleway, Arial, sans-serif;
    border-radius: 50%;
    height: 7.6em;
    width: 7.6em;
    display: inline-block; 
    text-decoration: none !important;
}
.blue-circle-button:hover {
    color: #fff;
    background-color: #9bc1ff;
    text-decoration: none;
    border-color: #9bc1ff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.blue-circle-button:visited {
    color: #fff;
    background-color: #9bc1ff;
    text-decoration: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#botao {
    border-radius: 30px;
}

 .botao-grande{
     font: bold 20px "Arial Black", Gadget, sans-serif;
     font-style: normal;
     color: #000;
     background: transparent;
     border: 2px solid #fff;
     text-shadow: 0px 0px 5px #0d0d0d;
     box-shadow: -2px 0px 8px #2e2300;
     -moz-box-shadow: -2px 0px 12px #2e2300;
     -webkit-box-shadow: -2px 0px 12px #2e2300;
     border-radius: 0;
     margin: 10px;
     cursor: hand;
     height: 50px;
     text-transform: uppercase;
     text-shadow: none;
     transition: all ease-in-out 0.3s;
     border-radius: 15px;
}

 #result{
     font-size: 40px;
     color: #9400D3;
     text-shadow: 0px 0px 7px #FFFAFA
 }

 #fim{
     font-size: 30px;
     color: #9400D3;
     text-shadow: 0px 0px 7px #FFFAFA
 }

 #imagem-palavra{
     width: 120px;
     height: 100px;
     border: 2px solid #fff;
     border-radius: 16px;
     /*position: absolute;*/
     /*left: 30%;*/
     float: left;
}

 .palavra-imagem{
     alignment: center;
     /*position: absolute;*/
 }

 #palavraSemIni{
     background: #F2F2F2;
     font-size: 40px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 10px;
     /*left: 150%;*/
     /*position: relative;*/
}

 #palavraSemIni-rima{
     background: #F2F2F2;
     padding-left: 10px;
     padding-right: 10px;
     font-size: 40px;
     border-radius: 10px;
     position: absolute;
     top: 56%;
     text-decoration: underline;
 }
